[submodule "demos/kotlin_demo"]
	path = demos/kotlin_demo
	url = https://github.com/SenneS/kotlin_demo
[submodule "demos/android_basic_demo"]
	path = demos/android_basic_demo
	url = https://github.com/SenneS/android_basic_demo
[submodule "demos/cryptography_demo"]
	path = demos/cryptography_demo
	url = https://github.com/SenneS/cryptography_demo
[submodule "demos/communication_demo"]
	path = demos/communication_demo
	url = https://github.com/SenneS/communication_demo
[submodule "demos/room_demo"]
	path = demos/room_demo
	url = https://github.com/SenneS/room_demo
[submodule "demos/navigation_demo"]
	path = demos/navigation_demo
	url = https://github.com/SenneS/navigation_demo
[submodule "demos/qr_demo"]
	path = demos/qr_demo
	url = https://github.com/SenneS/qr_demo
[submodule "demos/broadcast_demo"]
	path = demos/broadcast_demo
	url = https://github.com/SenneS/broadcast_demo
